<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="border-bottom">
        <div class="container" id="header">
            <div class="row">
                <div class="text-left order-2 order-sm-1 col-sm-6 col-12">
                    <a title="Forside" href="/">
                        <img src="https://minside.kristiansand.kommune.no/static/media/krs-logo-original.63e40cb9206a731a519e6369fac496b4.svg" alt="Kristiansand kommunes kommunevåpen" class="logo">
                    </a>
                </div><div class="d-flex align-items-end justify-content-start justify-content-sm-end order-1 order-sm-2 role-and-logout col-sm-6 col-12">
                    <div class="align-self-center">
                        <div class="user-name">
                            <i class="fas fa-user" aria-hidden="true"> </i>
                            <span class="capitalFirstLetter">hidle ole m sleveland</span>
                        </div>
                    </div><div class="align-self-center logout">
                        <a href="/logout" class="logout-link nav-link">Logg ut</a>
                        <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="navbar-logo">
        <a href="/Home/Index">
            <img src="https://minside.kristiansand.kommune.no/static/media/krs-logo-original.63e40cb9206a731a519e6369fac496b4.svg" alt="">
        </a>
    </div>

    <div class="nav-link"
        <a href="#">Logg ut</a>
     </div>
    -->

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vårt bachelorprosjekt hos TietoEvry</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
