<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Min side</title>

    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/Navbar.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false);

</head>
<body>
    @{
        // Finner navn på bruker fra session
        string navn = Session["brukerNavn"].ToString();

    }

    <div class="border-bottom">
        <div class="container" id="header">
            <div class="row">
                <div class="text-left order-2 order-sm-1 col-sm-6 col-12">
                    <a title="Forside" href="/Hjem/Index">
                        <img src="https://minside.kristiansand.kommune.no/static/media/krs-logo-original.63e40cb9206a731a519e6369fac496b4.svg" alt="Kristiansand kommunes kommunevåpen" class="logo">
                    </a>
                </div><div class="d-flex align-items-end justify-content-start justify-content-sm-end order-1 order-sm-2 role-and-logout col-sm-6 col-12">
                    <div class="align-self-center">
                        <div class="user-name">
                            <i class="fas fa-user" aria-hidden="true"> </i>
                            <span class="capitalFirstLetter">
                                @navn
                            </span>
                        </div>
                    </div><div class="align-self-center logout">
                        <a href="/logout" class="logout-link nav-link">Logg ut</a>
                        <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tilpasser navbar basert på hvilken side man er på -->
    @if ((ViewBag.Title == "Oppsummering") || (ViewBag.Title == "RegistrerSak") || (ViewBag.Title == "KontaktSkjema") || (ViewBag.Title == "Detaljer"))
    {
        @:<div class="nav-bar-sum">
            if (ViewBag.Title != "Detaljer")
            {
                @:<button class="nav-btn-1" onclick="history.back()">Tilbake</button>
            }
            @:<div class="txt-nav-cont">
                if (ViewBag.Title == "RegistrerSak")
                {
                    @:<div class="current-site">1. Registrer melding</div>
                }
                if (ViewBag.Title != "RegistrerSak")
                {
                    @:<div class="site-1">1. Registrer melding</div>
                }
                @:<div class="crock"> > </div>
                if (ViewBag.Title == "KontaktSkjema")
                {
                    @:<div class="current-site">2. Kontaktinformasjon</div>
                }
                if (ViewBag.Title != "KontaktSkjema")
                {
                    @:<div class="site-2">2. Kontaktinformasjon</div>
                }
                @:<div class="crock"> > </div>
                if (ViewBag.Title == "Detaljer")
                {
                    @:<div class="current-site">3. Oppsummering for innsending</div>
                }
                if (ViewBag.Title != "Detaljer")
                {
                    @:<div class="site-1">3. Oppsummering</div>
                }
            @:</div>
                @:<button class="nav-btn-2" onclick="window.location.href='../../MineByggesaker/Index'">Mine byggesaker</button>
            @:</div>
    }

    <div class="body-layout">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vårt bachelorprosjekt hos TietoEvry</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
