@model MyPagePrototype.Models.Bruker

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bruker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kvittering.Kommentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kvittering.Kommentar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefonnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefonnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Epost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Epost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailØnsket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailØnsket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Samtykke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Samtykke)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BrukerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
