@model MyPagePrototype.Models.Profil

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<!-- Her trengs potensielt id eller lignende for å kjøre-->
<div>
    <h4>Profil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.profilID)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.navn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.epost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.epost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mailØnsket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mailØnsket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.samtykke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.samtykke)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
