@model IEnumerable<MyPagePrototype.Models.Byggesak>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Content/MineByggesaker.css")" rel="stylesheet" type="text/css" />
}
<br />

<div class="content-container-60">
    <div class="holder">
        <div class="out-loc">
            Innboks /
            <div class="in-loc">
                Byggesaker
            </div>
        </div>
    </div>
    <br /> <br />

    <h2 class="mi-bygg">Mine byggesaker</h2>
    <p>Her vil du se en oversikt over din(e) byggesaker</p>
    <div>
        <form action="/MineByggesaker/Registrer" method="get">
            <button class="bygg-btn" name="subject" type="submit">Registrer din byggesak</button>
        </form>
    </div>
    <br />
    <br />
    @{
        if (Model != null)
        {
            // looper igjennm elementene for modellen
            foreach (var item in Model)
            {
                try {
                    // Finner kvitteringsID
                    int? id = item.KvitteringID;
                    if (id == null || id == 0)
                    {
                        // Finner bruker id
                        TempData["ForSlett"] = item.ByggesakID;
                        
                    @*<script>

                        function redirect() {
                            window.location.href = "/MineByggesaker/FjernEndring";
                        }
                        setTimeout(redirect, 1); // Tall i millisekund
                    </script>*@
                        continue;
                    }

                @:<button class="sakboks-box-btn" onclick="window.location.href='@Url.Action("Detaljer", "Kvittering", new { id = item.KvitteringID })'">
                    @:<div class="sakboks-box">
                        @:<div class="sakboks-txt">
                            @item.ByggesakTittel;
                            @:<div class="sakboks-arrow">
                            @:</div>
                            // Håndterer status
                    if (item.ByggesakStatus == "Ubehandlet")
                    {
                                @:<div class="saksboks-status-ib">
                                    @item.ByggesakStatus;
                                @:</div>
                            }
                    if (item.ByggesakStatus == "Under behandling")
                    {
                                @:<div class="saksboks-status-ub">
                                    @item.ByggesakStatus;
                                @:</div>
                            }
                    if (item.ByggesakStatus == "Ferdig behandlet")
                    {
                                @:<div class="saksboks-status-fb">
                                    @item.ByggesakStatus;
                                @:</div>
                            }
                        @:</div>
                        @:<div class="saksboks-dato">  
                            string stringDato;
                    try
                    {
                        // Gjør dato til string
                        // Formaterer dato
                        stringDato = item.ByggesakDato.ToString().Remove(10, 9);

                    } catch (Exception ex)
                    {
                        string Error = ex.Message;
                        stringDato = "--/--/----";
                        throw ex;
                    }
                            @stringDato;

                        @:</div>
                    @:</div>
                @:</button>
            } catch (Exception ex) 
                {
                    string Error = ex.Message;
                    continue;
                }
                }
        }
        else
        {
            @:<h4>Ingen registrerte byggesaker</h4>
        }
    @:</div>
}

<br /><br /><br />
<br /><br /><br />
<br />
