@model IEnumerable<MyPagePrototype.Models.Melding>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MeldingDato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeldingTittel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeldingAvsender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeldingFilPath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MeldingDato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeldingTittel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeldingAvsender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeldingFilPath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MeldingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MeldingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MeldingID })
        </td>
    </tr>
}

</table>
