@model IEnumerable<MyPagePrototype.Models.Melding>

@{
    ViewBag.Title = "Innboks";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Styles {
    <link href="@Url.Content("~/Content/Innboks.css")" rel="stylesheet" type="text/css" />
}


<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li href="/">Min side</li>&nbsp; / &nbsp;
                    <li class="breadcrumb-item active" aria-current="page">Innboks</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container krs-list-1">
    <h1>Innboks</h1>
    <div>
        <p>Her kan du se svar på dine søknader og annen digital post fra kommunen.</p>
    </div>

    @{ if (Model != null)
        {
            // Looper igjenom elementene inne i modellen
            foreach (var item in Model)
            {
            
                @:<div class="mld-inn">
                    @:<div class="o-strek-inn">
                        @:<div class="l-1-inn">
                            @:<h4 class="d-mld-inn">
                // Omgjør dato til string
                string meldingsString = item.MeldingDato.ToString();

                // Fjerner uønskede nuller i formateringen
                meldingsString = meldingsString.Remove(10, 9);
                meldingsString = meldingsString.Remove(6, 2);

                                @meldingsString;

                            @:</h4>
                            @:<h4 class="tittel-inn">
                                @Html.DisplayFor(modelItem => item.MeldingTittel);
                            @:</h4>
                        @:</div>
                        @:<div class="l-2-inn">
                            @:<h4 class="avsender-inn">
                                @Html.DisplayFor(modelItem => item.MeldingAvsender);
                            @:</h4>
              
                            @Html.ActionLink("Slett", "Slett", new { mid = item.MeldingID }, new { @class = "slett-inn" })
                            @:<a class="arkiver-inn" href="#"> Arkiver </a>
                            @:<a class="utskrift-inn" href="#"> Utskrift </a>
                        @:</div>
                    @:</div>
                    @:<div class="u-strek-inn">
                        @:<div class="l-3-inn">
                            @:<br />
                            @:<a class="link-mld-inn" id="link-mld" href="@item.MeldingFilPath" target="_blank" aria-label="#"><i class="fa-thin fa-file-import"></i>Trykk her for å lese brevet fra Kristiansand kommune</a>
                            @:<button class="blaa-btn-inn" onclick="window.location.href='/../MineByggesaker/Index'">Mine byggesaker</button>
                        @:</div>
                        @:<div class="l-4-inn">
                            @:<a class="link-down-inn" href="@item.MeldingFilPath" download><i class="fa-thin fa-files"></i>Last ned pdf her</a>
                        @:</div>
                    @:</div>
                    @:<div>
                    @:</div>
                @:</div>
            }
        }
        else
        { <h4>Du har ingen registrerte byggesaker </h4>}
    }
</div>
