@model MyPagePrototype.Models.Byggesak

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Byggesak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kvittering.Kommentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kvittering.Kommentar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ByggesakTema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ByggesakTema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeBygg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeBygg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BygningsNummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BygningsNummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ByggesakTittel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ByggesakTittel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ByggesakDato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ByggesakDato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ByggesakStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ByggesakStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NæringsGruppe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NæringsGruppe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NyttAreal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NyttAreal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NyHøyde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NyHøyde)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ByggesakID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
